.nav{
   background-color: black;
   height: 100px; 
   width: 100%;
   position: fixed;
   z-index: 10000;
   top: 0%;
   left: 0%;
   right: 0;
}
.navbar-light {
    background-color: #111 !important;
  }
  .navbar-toggle .icon-bar{
    width: 50px !important;
    height:3px !important;
  }
.fonts{
    color: white;
}
@font-face {
    font-family: myFirstFont;
    src: url('fonts/cur.ttf');
  }
#xfinity,#communities,#control{
    color: white;
    margin-top: 10px;
}
table{
    margin-top: 1%;
    margin-left: 30px;
}
h1{
    font-size: 50px;
}
.second{
    clear: both;
   height: 600px;
   position: relative;
    background-color: #2475B0;
    width: 100%;
    top:60px;
}
.heading{
    position: absolute;
    top:120px;
    color: white;
    left: 50px;
}
#login{
    width: 390px;
    height: 450px;
    position: absolute;
    background-color:white;
    top: 150px;
    right:200px;
    border-radius: 21px;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 100px;
    padding: 25px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 70px;
   margin-right: 50px; 
}
.teamnames{
    position: absolute;
    bottom: 100px;
    left: 20%;
    

}
.des{
    position: absolute;
    bottom: 40px;
    text-align: center;
    left: 7%;
    padding-left: 0%;
    padding-right: 10px;
    font-size: 14px;
    color: #999;
}
.img2{
    position: absolute;
    top:40px;
    left:30%;
    right:30%;
    border-radius: 50%;
    


}
.item{
    background-color :white;
    box-sizing: content-box;
    height: 300px;
    width: 300px;
    position: relative;
    box-shadow:  8px 10px 18px #888888;
}
.item2{
    background-color :white;
    box-sizing: content-box;
    height: 200px;
    width: 200px;
    position: relative;
    box-shadow:  8px 10px 18px #888888;
}
body{
    background-color:white;
    padding: 0px;
    margin-top: 110px;
    padding-left: 0%;
    margin-left: 0%;
    margin-top: 0%;
    margin-right:0;
}
.imgdiv{
    margin-top: 100px;
    margin-left: 0%;
    padding: 0%;
    left:0px;
    position: relative;
   background-image: url('images/head_img.jpg');
   background-position: center;
   background-size:cover; 
   height: 600px;
   width: 100%;
}
form{
   margin-left: 76px;
   margin-top: 30px;
   font-family: 'Times New Roman';
   text-align: left;
   font-weight: lighter;
   color: #888888;

}
button{
    height: 35px;
    width: 80%;
    border-radius: 15px;
    background-color: #2475B0;
    color: white;
    border-width: 0ch;
    border-color:#2475B0;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 49px;
}
.img3{
height: 120px;
width: 120px;
margin-left: 30px;
margin-top: 15px;
}
.head2{
text-align: center;
margin-bottom: 30px;
padding: 10px;
}